*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #E3E3E3;
    font-family: 'Roboto';
}
#rectangel{
    display: flex;
    position: absolute;
    margin: 0;
    background: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.Tulisan1 p{
    position: absolute;
    display: flex;
    top: 17px;
    left: 2%;
}
.Tulisan2 p{
    position: absolute;
    display: flex;
    text-align: center;
    top: 18px;
    left: 34%;
}
#Daftar{
    display: flex;
    position: absolute;
    width: 17%;
    top: 15px;
    left: 83%;
}
#Daftar a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-decoration: none;
}
#Daftar a:hover{
    text-decoration: underline;
}
#wilayah{
    display: inline;
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    border: 0px;
}
.logo{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    top: 50px;
}
.nama1 p{
    position: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    left: 10px;
    top: 2px;
    margin-left: 17px;
}
.nama2 p{
    position: absolute;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    top: 30px;
    left: 19%;

}
.btn-cari{
    display: flex;
    position: absolute;
    top: 14%;
    left: 29%;
}
.boxs-pencarian{
    position: absolute;
    top: 12px;
    padding: 4px 250px 4px 50px;
    background: #EEEDED;
    border: 5px;
    border-radius: 8px;
    text-align: left;
}
.gm-cari{
    position: absolute;
    top: 16px;
    right: -30px;
}
.btn-beli img{
    position: absolute;
    float: right;
    top: 10px;
    right: 10%;
    height: 35px;
}
.btn-favor img{
    position: absolute;
    right: 6%;
    top: 14px;
    height: 30px;
}
.btn-profil img{
    position: absolute;
    right: 2%;
    top: 12px;
    height: 32px;
}
.katalog1{
    display: flex;
    position: relative;
    top: 45px;
    transform: translate(0px);
    opacity: 1;
    transition: all 0.7s ease;
}
.katalog1 img{
    display: flex;
    width: 100%;
    height: 592px;
    transform: translate(0px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    
}
.katalog1 a{
    display: flex;
    position: absolute;
    background: #FF3939;
    padding: 17px 45px 17px 45px;
    top: 480px;
    right: 160px;
    float: right;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 23px;
    text-decoration: none;
}
.katalog1 a:hover{
    background: #f95d5d;
}
.new{
    display: flex;
    position: relative;
    top: 25px;
    transform: skew(50px);
    transition: all 0.7s ease;
}
.teks1 p{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    left: 2%;
    font-weight: bold;
    transform: translate(0px);
    opacity: 1;
}
.teks1 img{
    display: inline-flex;
    position: relative;
    left: 25%;
    width: 80%;
    top: 10px;
}
.teks2 p{
    position: absolute;
    font-family: 'Roboto';
    text-align: right;
    font-size: 21px;
    font-weight: lighter;
    opacity: 0.5;
    top: 10px;
    right: 5%;
    bottom: -41%;
}
.love img{
    position: absolute;
    top: 4%; 
    left: 23px;
    width: 28px;
}
.box1 {
    display: flex;
    top: -450px;
}
.item1 img:hover{
    transition: all 0.4 ease-in-out;
    transform: scale(1.1);
}
#box1_item{
    position: relative;
    bottom: 450px;
}
.panah_kanan img{
    display: flex;
    position: absolute;
    width: 50px;
    background: #ffffff;
    top: 730px;
    left: 93.5%;
}
/* .panah_kiri img{
    display: flex;
    position: absolute;
    width: 50px;
    background: #ffffff;
    top: 270px;
    left: 2%;
} */
.panah img:hover{
    transition: all 0.2 ease-in-out;
    transform: scale(1.2);
}
.comingsoon p{
    position: relative;
    text-align: center;
    top: 580px;
    font-family: Roboto;
    font-size: 50px;
}
.comingsoon img{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    top: 610px;
}
.comingsoon a{
    display: flex;
    position: absolute;
    background: #000000;
    padding: 17px 90px 17px 20px;
    top: 313%;
    left: 70px;
    color: #BEBEBE;
    text-align: left;
    font-family: Roboto;
    font-weight: lighter;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.comingsoon a:hover{
    background: #ffffff;
}
.new2{
    display: flex;
    position: relative;
    top: 640px;
    transform: skew(50px);
    transition: all 0.7s ease;
}
#box2_item{
    position: relative;
    top: 175px;
}
.new3{
    display: flex;
    position: relative;
    top: 1220px;
}
#box3_item{
    position: relative;
    top: 750px;
}
@media screen and (max-widht: 892px) {
    #rectangel{
        width: 50%;
        font-size: 5px;
    }
    .nama1 p{
        display: flex;
        font-size: 20px;
    }
}