*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #E3E3E3;
    font-family: 'Roboto';
}
#rectangel{
    display: flex;
    position: fixed;
    z-index: 9999;
    background: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.Tulisan1 p{
    position: absolute;
    display: flex;
    top: 17px;
    left: 2%;
}
.Tulisan2 p{
    position: absolute;
    display: flex;
    text-align: center;
    top: 18px;
    left: 34%;
}
#Daftar ul{
    display: flex;
    flex-direction: row;
}
#Daftar ul li{
    list-style-type: none;
    width: 100%;
}
#Daftar{
    display: flex;
    position: absolute;
    top: 15px;
    left: 90%;
}
.menu{
    display: none;
}
#Daftar a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
#Daftar a:hover{
    text-decoration: underline;
}
#wilayah{
    display: inline;
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    border: 0px;
}
.logo{
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    top: 50px;
}
.nama1 p{
    position: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    left: 10px;
    top: 2px;
    margin-left: 17px;
}
.nama2 p{
    position: absolute;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    top: 30px;
    left: 19%;

}
.btn-cari{
    display: flex;
    position: absolute;
    top: 14%;
    left: 29%;
}
.boxs-pencarian{
    position: absolute;
    top: 12px;
    padding: 4px 250px 4px 50px;
    background: #EEEDED;
    border: 1px solid #707070;
    border-radius: 8px;
    text-align: left;
}
.gm-cari{
    position: absolute;
    top: 16px;
    right: -30px;
}
.btn-beli img{
    position: absolute;
    float: right;
    top: 10px;
    right: 10%;
    height: 35px;
}
.btn-favor img{
    position: absolute;
    right: 6%;
    top: 14px;
    height: 30px;
}
.btn-profil img{
    position: absolute;
    right: 2%;
    top: 12px;
    height: 32px;
}
.katalog1{
    display: flex;
    position: relative;
    top: 45px;
    transform: translate(0px);
    opacity: 1;
    transition: all 0.7s ease;
}
.katalog1 img{
    display: flex;
    padding-top: 70px;
    width: 100%;
    transform: translate(0px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    
}
.katalog1 a{
    display: flex;
    position: absolute;
    background: #FF3939;
    padding: 1% 4% 1% 4%;
    top: 83.5%;
    right: 13%;
    float: right;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 130%;
    text-decoration: none;
}
.katalog1 a:hover{
    background: #f95d5d;
}
.new{
    display: flex;
    position: relative;
    top: 25px;
    transform: skew(50px);
    transition: all 0.7s ease;
}
.teks1 p{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    left: 2%;
    font-weight: bold;
    transform: translate(0px);
    opacity: 1;
}
.teks1 img{
    display: inline-flex;
    position: relative;
    left: 25%;
    width: 80%;
    top: 10px;
}
.teks2 p{
    position: absolute;
    font-family: 'Roboto';
    text-align: right;
    font-size: 21px;
    font-weight: lighter;
    opacity: 0.5;
    top: 10px;
    right: 5%;
    bottom: -41%;
}
.love img{
    position: absolute;
    top: 4%; 
    left: 23px;
    width: 28px;
}
.box1 {
    display: flex;
    top: -450px;
}
/* #soldout:hover {
    transition: all 0.4 ease-in-out;
    background: #000000;
    transform: scale(1.2)
} */
.item1 img:hover{
    transition: all 0.4 ease-in-out;
    transform: scale(1.1);
}
#box1_item{
    position: relative;
    bottom: 450px;
}
.panah_kanan img{
    display: flex;
    position: absolute;
    width: 50px;
    background: #ffffff;
    top: 730px;
    left: 93.5%;
}
/* .panah_kiri img{
    display: flex;
    position: absolute;
    width: 50px;
    background: #ffffff;
    top: 270px;
    left: 2%;
} */
.panah img:hover{
    transition: all 0.2 ease-in-out;
    transform: scale(1.2);
}
.comingsoon p{
    position: relative;
    text-align: center;
    top: 580px;
    font-family: Roboto;
    font-size: 50px;
}
.comingsoon img{
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    top: 610px;
}
.comingsoon a{
    display: flex;
    position: absolute;
    background: #000000;
    padding: 1.1% 7% 1.1% 1%;
    top: 285.2%;
    left: 6%;
    color: #BEBEBE;
    text-align: left;
    font-family: Roboto;
    font-weight: lighter;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}
.comingsoon a:hover{
    background: #ffffff;
}
.new2{
    display: flex;
    position: relative;
    top: 640px;
    transform: skew(50px);
    transition: all 0.7s ease;
}
#box2_item{
    position: relative;
    top: 175px;
}
.new3{
    display: flex;
    position: relative;
    top: 1220px;
}
#box3_item{
    position: relative;
    top: 750px;
}
#box4_item{
    position: relative;
    top: 1200px;}

.container{
        font-size: 14px;
        display: flex;
        position: absolute;
        width: 100%;
        background-color: #eeeeee;
        margin: auto;
        top: 600%;
        font-family: 'Roboto', sans-serif;
    }
    .list-2{
        margin-left: 100px;
    }
    .list-3{
        margin-left: 100px;
    }
    .list-4{
        margin-left: 100px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 41px 0 40px 200px;
    }
    .row ul li{
        list-style: none;
        padding-top: 10px;
        
    }
    .row ul li a{
        text-decoration: none;
        color: #000000b2;
        font-weight: lighter;
    }
    footer p{
        position: relative;
        padding: 10px 0 10px 0;
        margin-left: 45%;
        margin-right: 10%;
        display: flex;
        color: #000000b2;
        font-weight: lighter;
    }

/* RESPONSIVE */
@media screen and (max-width: 989px) {
    #rectangel{
        width: 130%;
    }
    .logo{
        width: 130%;
    }
    .logo .nama1 .nama2 p{
        font-size: 10px;
    }
    .katalog1 img{
        width: 130%;
    }.katalog1 a{
        right: -13%;
        top: 460px;
    }
    .teks1 img{
        width: 90%;
    }
    .teks2 p{
        margin-right: -104px;
        left: 117%;
    }
    #box1_item, .kotak1{
        width: 130%;
    }
    .comingsoon p{
        text-align: center;
        left: 20%;
      }
      .comingsoon img{
          width: 122%;
          margin-left: 41px;
      }
      .comingsoon a{
        top: 210.1%;
        left: 10%;
        padding-top: 1.3%;
        padding-bottom: 1.3%;
    }
    #box2_item, .kotak1{
        width: 130%;
    }
    #box3_item, .kotak1{
        width: 130%;
    }


}
@media screen and (max-width: 768px) {
    #rectangel{
        width: 160.6%;
        font-size: 15px;
    }
    #Daftar ul li{
        display: none;
    }
    #Daftar, .menu{
        display: flex;
        left: 97%;
    }
    .logo{
       width: 160.5%; 
    }
    .katalog1 img{
        width: 160.5%;
    }.katalog1 a{
        right: -40%;
        top: 430px;
    }
    .teks1 img{
        left: 30%;
        width: 110%;
    }.teks2 p{
        text-align: right;
        right: -45%;
    }
    #box1_item, .kotak1{
        width: 159%;
    }
    .comingsoon p{
      text-align: center;
      left: 35%;
    }
    .comingsoon img{
        width: 150%;
        margin-left: 41px;
    }
    .comingsoon a{
        top: 168%;
    }
    #box2_item, .kotak1{
        width: 159%;
    }
    #box3_item, .kotak1{
        width: 159%;
    }


}