*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #E3E3E3;
    font-family: 'Roboto';
}
.logo{
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    align-items: center;
    height: 70px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.nama1 p{
    position: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    left: 10px;
    top: 2px;
    margin-left: 17px;
}
.nama2 p{
    position: absolute;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    top: 30px;
    left: 19%;
}
.nama3{
    display: block;
    margin-left: 6.7%;
}
.btn-cari{
    display: flex;
    position: absolute;
    top: 15%;
    left: 49%;
}
.boxs-pencarian{
    position: absolute;
    top: 12px;
    padding: 4px 250px 4px 50px;
    background: #ffffff;
    border: 1px solid #707070;
    border-radius: 8px;
    text-align: left;
}
.gm-cari{
    position: absolute;
    top: 16px;
    right: -30px;
}
.btn-beli img{
    position: absolute;
    float: right;
    top: 10px;
    right: 10%;
    height: 35px;
}
.btn-favor img{
    position: absolute;
    right: 6%;
    top: 14px;
    height: 30px;
}
.btn-profil img{
    position: absolute;
    right: 2%;
    top: 12px;
    height: 32px;
}
.menubar{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    display: flex;
    top: 110%;
    width: 100%;
    padding: 20px 0 17px 0;
    background-color: #C9C9C9;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
.menubar ul{
    display: flex;
    flex-wrap: wrap;
}
.menubar ul li{
    list-style: none;
    padding: 0 110px 0 92px;
}
.nav-navbar1 a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.nav-navbar2 a{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FF3B3B;
}
.nav-navbar3 a{
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}
.nav-navbar4 a{
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #FF3B3B;
}
.container{
    font-size: 14px;
    display: flex;
    position: absolute;
    width: 100%;
    background-color: #eeeeee;
    margin: auto;
    top: 120%;
    font-family: 'Roboto', sans-serif;
}
.list-2{
    margin-left: 100px;
}
.list-3{
    margin-left: 100px;
}
.list-4{
    margin-left: 100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 41px 0 40px 200px;
}
.row ul li{
    list-style: none;
    padding-top: 10px;
    
}
.row ul li a{
    text-decoration: none;
    color: #000000b2;
    font-weight: lighter;
}
footer p{
    position: relative;
    padding: 10px 0 10px 0;
    margin-left: 45%;
    margin-right: 10%;
    display: flex;
    color: #000000b2;
    font-weight: lighter;
}