*{
    margin: 0px;
    padding: 0px;
}
#rectangel_17{
    display: block;
    background: #000;
    color: #fff;
    width: auto;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.Tulisan1 p{
    position: relative;
    display: block;
    top: 17px;
    left: 2%;
}
.Tulisan2 p{
    position: relative;
    display: block;
    text-align: center;
    top: 10%;
}
#Daftar{
    display: block;
    position: relative;
    float: right;
    bottom: 25%;
    right: 2%;
}
#Daftar a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
}
#wilayah{
    display: inline;
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    border: 0px;
}
.logo{
    display: block ;
    position: relative;
}
.nama1{
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
}
.nama2{
    position: relative;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-weight: 400;
    font-size: 44px;
    line-height: 53px;
    bottom: 50px;
    left: 18%;
}
.btn-cari{
    display: flex;
    position: absolute;
    top: 14%;
    left: 29%;
}
.boxs-pencarian{
    position: relative;
    top: 10px;
    padding: 0px 250px 0px 50px;
    background: #EEEDED;
    border: 5px;
    border-radius: 8px;
    text-align: left;
}
.gm-cari{
    position: relative;
    top: 10px;
    
}