*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0;
    background: #E3E3E3;
}
#rectangel_17{
    display: block;
    background: #000;
    color: #fff;
    width: auto;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.Tulisan1 p{
    position: absolute;
    display: block;
    top: 17px;
    left: 2%;
}
.Tulisan2 p{
    position: relative;
    display: block;
    text-align: center;
    top: 18px;
}
#Daftar{
    display: block;
    position: relative;
    float: right;
    bottom: 7%;
    right: 2%;
}
#Daftar a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
}
#wilayah{
    display: inline;
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    border: 0px;
}
.logo{
    display: block ;
    position: relative;
    margin-bottom: 13px;
    box-shadow:  0 5px 1px rgba(#000000, .15);
}
.nama1 p{
    position: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    left: 10px;
    top: 2px;
}
.nama2 p{
    position: absolute;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 44px;
    bottom: -6px;
    left: 19%;

}
.btn-cari{
    display: flex;
    position: absolute;
    top: 14%;
    left: 29%;
}
.boxs-pencarian{
    position: absolute;
    top: 12px;
    padding: 4px 250px 4px 50px;
    background: #EEEDED;
    border: 5px;
    border-radius: 8px;
    text-align: left;
}
.gm-cari{
    position: absolute;
    top: 16px;
    right: -30px;
}
.btn-beli img{
    position: absolute;
    float: right;
    top: 10px;
    right: 10%;
    height: 35px;
}
.btn-favor img{
    position: absolute;
    right: 6%;
    top: 14px;
    height: 30px;
}
.btn-profil img{
    position: absolute;
    right: 2%;
    top: 15px;
    height: 30px;
}
.katalog1 img{
    position: relative;
    height: 592px;
}
.teks1 p{
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 41px;
    left: 5%;
    font-weight: bold;
}
.teks1 img{
    position: relative;
    left: 21%;
    width: 60%;
    top: 10px;
}
.teks2 p{
    position: absolute;
    font-family: 'Roboto';
    text-align: right;
    right: 12%;
    bottom: -38%;
}