.logo {
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    align-items: center;
    height: 65px;
    background-color: #ffffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.nama1 p {
    position: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 3vw;
    line-height: 51px;
    left: 10px;
    top: 2px;
    margin-left: 17px;
}

.nama2 p {
    position: absolute;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 2vw;
    top: -2px;
    left: 16.5vw;

}
.nama3{
    margin-left: 5.7vw;
}

.btn-cari {
    display: flex;
    position: absolute;
    top: 14%;
    left: 46vw;
}

.boxs-pencarian {
    position: absolute;
    top: 10px;
    padding: 0.5vw 30vw 0.5vw 5vw;
    background: #EEEDED;
    border: 1px solid #707070;
    border-radius: 8px;
    text-align: left;
}

.gm-cari {
    position: absolute;
    top: 16px;
    right: -30px;
}

.btn-beli img {
    position: absolute;
    float: right;
    top: 10px;
    right: 10%;
    height: 2.5vw;
}

.btn-favor img {
    position: absolute;
    right: 6%;
    top: 14px;
    height: 2vw;
}

.btn-profil img {
    position: absolute;
    right: 2%;
    top: 12px;
    height: 2.2vw;
}
.navbar {
    background-color: black;
    position: relative;
    top: 10%;
    padding: 0.5vw 0 0.5vw 0;
    width: 100vw;
    font-size: 1vw;
    position: fixed;
    z-index: 9999;
    margin-bottom: 10%;
}
.wrapper ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.wrapper ul li {
    padding: 0 130px 0 100px;
}

.menu li{
    color: #ffffff;
    text-decoration: none;
}