*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
    font-family: 'Roboto';
}
/* #rectangel{
    display: flex;
    position: fixed;
    z-index: 9999;
    background: #000;
    color: #fff;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.Tulisan1 p{
    position: absolute;
    display: flex;
    top: 17px;
    left: 2%;
}
.Tulisan2 p{
    position: absolute;
    display: flex;
    text-align: center;
    top: 18px;
    left: 34%;
}
#Daftar ul{
    display: flex;
    flex-direction: row;
}
#Daftar ul li{
    list-style-type: none;
    width: 100%;
}
#Daftar{
    display: flex;
    position: absolute;
    top: 15px;
    left: 90%;
}
.menu{
    display: none;
}
#Daftar a{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
#Daftar a:hover{
    text-decoration: underline;
}
#wilayah{
    display: inline;
    font-family: 'Roboto', sans-serif;
    background: #000;
    color: #fff;
    border: 0px;
} */
.logo{
    display: flex;
    position: fixed;
    z-index: 9999;
    width: 100%;
    align-items: center;
    height: 70px;
    background-color: #E3E3E3;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.nama1 p{
    position: flex;
    font-family: 'Poiret One', sans-serif;
    font-weight: lighter;
    font-weight: 400;
    font-size: 44px;
    line-height: 51px;
    left: 10px;
    top: 2px;
    margin-left: 17px;
}
.nama2 p{
    position: absolute;
    padding: auto;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 30px;
    top: 30px;
    left: 19%;

}
.btn-cari{
    display: flex;
    position: absolute;
    top: 14%;
    left: 29%;
}
.boxs-pencarian{
    position: absolute;
    top: 12px;
    padding: 4px 250px 4px 50px;
    background: #f8f6f6;
    border: 1px solid #707070;
    border-radius: 8px;
    text-align: left;
}
.gm-cari{
    position: absolute;
    top: 16px;
    right: -30px;
}
.btn-beli img{
    position: absolute;
    float: right;
    top: 10px;
    right: 10%;
    height: 35px;
}
.btn-favor img{
    position: absolute;
    right: 4%;
    top: 14px;
    height: 30px;
}
.btn-profil img{
    position: absolute;
    right: 2%;
    top: 12px;
    height: 32px;
}
.toko{
    display: flex;
    position: absolute;
    top: 20%;

}
.toko h1{
    font-family: 'Poiret One', cursive;
    font-weight: lighter;
    margin-left: 450px;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 76px;
    color: #000000;
}
.toko p{
    font-family: 'roboto' , sans-serif;
    position: absolute;
    top: 100%;
    margin-left: 455px;
    margin-right: -55px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.01em;
    text-transform: capitalize;
    color: #000000;
}
.email-form{
    position: absolute;
    top: 45%;
    margin-left: 33%;
}
.email-form input{
    font-size: 16px;
    padding: 7px 190px 7px 2px;
    border-color: #000000;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.01);
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.password-form{
    position: absolute;
    top: 57%;
    margin-left: 33%;
}
.password-form input{
    font-size: 16px;
    padding: 7px 190px 7px 2px;
    border-color: #000000;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.01);
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.firstname-form{
    position: absolute;
    top: 70%;
    margin-left: 33%;
}
.firstname-form input{
    font-size: 16px;
    padding: 7px 190px 7px 2px;
    border-color: #000000;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.01);
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.lastname-form{
    position: absolute;
    top: 83%;
    margin-left: 33%;
}
.lastname-form textarea{
    font-size: 16px;
    padding: 7px 190px 10px 2px;
    border-color: #000000;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.01);
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
/* .btn-male{
    position: absolute;
    top: 95%;
    left: 35%;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    background: #181818;
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.btn-male a{
    padding: 15px 60px 15px 60px;
    text-decoration: none;
    color: #fff;
}
.btn-female{
    position: absolute;
    top: 95%;
    left: 48%;
    color: rgb(0, 0, 0);
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    background: #ffffff;
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.btn-female a{
    padding: 15px 60px 15px 60px;
    text-decoration: none;
    color: rgb(0, 0, 0);
} */
.gender {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 98%;
    left: 40%;
    font-size: 18px;
}
.form-check2{
    position: relative;
    left: 25%;
}
.form-check{
    position: absolute;
    top: 105%;
    left: 33%;
    color: #4E4E4E;
}
.form-check p{
    width: 70%;
    color: #4E4E4E;
}
.btn-join{
    position: absolute;
    top: 100%;
    left: 33.2%;
    padding: 15px 0 15px 0;
    box-sizing: border-box;
    background: #181818;
    border: 0.5px solid #A5A5A5;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}
.btn-join a{
    padding: 15px 165px 15px 165px;
    text-decoration: none;
    color: #fff;
}
.sign-in{
    display: block;
    position: absolute;
    top: 112%;
    left: 41%;
}
.sign-in a{
    color: rgb(255, 0, 0);
    text-decoration: none;
}
.container{
    font-size: 14px;
    display: flex;
    position: absolute;
    width: 100%;
    background-color: #eeeeee;
    margin: auto;
    top: 128%;
    font-family: 'Roboto', sans-serif;
}
.list-2{
    margin-left: 100px;
}
.list-3{
    margin-left: 100px;
}
.list-4{
    margin-left: 100px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin: 41px 0 100px 200px;
}
.row ul li{
    list-style: none;
    padding-top: 10px;
    
}
.row ul li a{
    text-decoration: none;
    color: #000000b2;
    font-weight: lighter;
}
footer p{
    position: relative;
    padding: 10px 0 10px 0;
    margin-left: 45%;
    margin-right: 10%;
    display: flex;
    color: #000000b2;
    font-weight: lighter;
}